<!-- Slider -->
<section id="slide" class="first-part">
<app-carousel></app-carousel>
</section>

<!-- Mr Mokhtar -->
<section id="mrmokhtar" class="second-part">
  <div class="leftside">
    <section class="part1">
      <pre><img src="assets/location/mokhtar.png" alt="">
Pouigtewdsxfcgvhjk,lmopiuyrihiabgftjkgdtresqzwdskjiuhbn
  bjklmkljgdudnddjndndhdljhyugdtresqzwdsxcvbnjlklmk jjjh
 jdjdndbndhdhugtedsfwxcvbn,jkljhg,ndndbddjhjeyetrd kjjh
fdsxcvbn,;kljhugfdsxcvbn,jkfghstuoshmsljhugyftgdsvvddkj
  xcv bnkjhgfdhhfdxcvbn,djdjnkljiygurtdfgcvbhjnkljihu bvf
  ygtfjkhngcbfxwbdhdteueskdlksnsckjdsfhdjkbcjdkbcsjkbvdskhbmpotdcb
  dskbvsmjkdfgouqdIDHQSJKLBCHDFGYRGFUZHDOZPISAPOJSKQDjjh
  NSJRGkTYEZIOUEAPOSKJQMNXQKLBDSGFEYTRZIYDGOZUSPAs lkn
  KQiMLWQXNJSKBCYERTUZIRHPZIDJQOPMJXQMLNXJWSCBJQknht 
  MSJQSIPAIEOZYREUIGFDHKXCBJBhjvbdsjfvshbjcsklndmqsdpojznjhf 
  kjrierhjsbvcjxcbnmsdlazkameuizoryuicbjwlnxkqmaoeiuozryheiu:,;dfbslk 
  cbmqspapeiozthekldnckdlxvncfrjhgfddeertyuioknbjhgfdhdteueskdlkskiy 
  nsckjdsfhdjkbcjdkbcsjkbvdskhbshdvhdskbvsmjkdfgouqdIDHQSJKLB lo
  CHDFGYRGFUZHDOZPISAPOJSKQDNSJRGkTYEZIOUEAPOSKJQl ,jy
  NXQKLBDSGFEYTRZIYDGOZUSPASKQiMLWQXNJSKBCYERTUZIR nht
  HPZIDJQOPMJXQMLNXJWSCBJQMSJQSIPAIEOZYREUIGFDHKllkjl
  CBJBhjvbdsjfvshbjcsklndmqsdpojzmkjrierhjsbvcjxcbnmsdlazkameuizmoyr 
  ryuicbjwlnxkqmaoeiuozryheiudfbslkcbmqspapeiozthekldnckdlxvncfrjhptfe
  fddeertyuioknbjhgf kjldxfcgvbhjnk,lhbjcgfdxfcgvbhjnhbgcfdxcgvhbkites
  njbhvcgfdxfcgvhbjnk,bj vhgcfgvhbjnkjbhgfcdxrfcgvhjnhbgvfc,kjldxf^yrb
  cgvbhjnkkjnhbfcgnjbhv.</pre>
    </section>
    <section class="part2">
    <pre>Mokhtar Habbachi co-founder</pre>
    </section>
  </div>
  <div class="rightside">
    <section>
      <img class="" src="assets/location/11.jpg" alt="">
      <img class="" src="assets/location/22.jpg" alt="">
    </section>
    <section>
      <img class="" src="assets/location/33.jpg" alt="">
      <img class="" src="assets/location/44.jpg" alt="">
    </section>
  </div>
</section>

<!-- map and infos -->
<section id="map" class="third-part">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1621.4043574107397!2d10.942409756885517!3d35.63244189857892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130217626cc7bc0f%3A0x30aedafcefa89041!2sMEC%20ART%20TOYOTA!5e0!3m2!1sen!2stn!4v1649524476594!5m2!1sen!2stn"
      width="750" height="540"></iframe>
  </div>
  <div class="infos">
    <pre>Service:

       Lundi au Vendredi:
        du 8h à 18h
        Samedi:
        du 8h à 13h

        Adresse:

        Agence MecArt
        Téboulba
        Monastir-Tunisia 5080
    </pre>
  </div>
</section>