.first-part {
    background-color: rgb(0, 0, 0);
    height: 91vh;
}
.second-part{
    background-color: black;
    height: 102vh;
}
.leftside {
    width: 50%;
    float: left;
    padding-left: 4vw;
    padding-top: 6vh;
}
.part1{
    position: absolute;
}
.part1 img{
    float: left;
    width: 20%;
    padding: 0 0;
}
.part1 pre{
    color: #9b9191;
    font-size: medium;
    font-family: 'Grape Nuts', cursive;
    border-right: 0.2vw solid rgb(194, 25, 25) ;
}
.part2{
    position: absolute;
    padding-top: 83vh;
    padding-left: 23vw;
}
.part2 pre{
    color: #9b9191;
    font-size: medium;
    font-family: 'Grape Nuts', cursive;
    border-bottom: 0.215vw solid rgb(194, 25, 25) ;
}
.rightside {
    float: right;
    width: 50vw;
    margin: 5;
    padding-left: 1%;
    padding-top: 1%;
}
.rightside img{
  width: 21VW;
  height: 20.5VW;
  border-radius: 20px;
  padding: 1%;
  transition: transform .5s ease;
}
.rightside img:hover{
    transform:scale(1.2);
}
.third-part {
    background-color: rgb(0, 0, 0);
    height: 107vh;
}
.map {
    float: left;
    width: 60%;
    padding-left: 5VW;
    padding-top: 9VH;
}
.map iframe{
    border-radius: 3%;
}

.infos {
    float: right;
    width: 40%;
    padding-left: 8VW;
    padding-top: 14VH;
}
.infos pre{
    position: absolute;
    color: #9b9191;
    font-family: 'Grape Nuts', cursive;
    font-size:x-large;
    text-align: center;
    border-left: 3px solid rgb(194, 25, 25);
    border-bottom: 3px solid rgb(194, 25, 25);
}


