<div class="form-style-3" style="margin: auto; width: 500px;">
        <form>
        <fieldset><legend>Personal</legend>
        <label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
        <label for="field2"><span>Adress<span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>
        <label for="field3"><span>Email <span class="required">*</span></span><input type="email" class="input-field" name="field3" value="toyota@gmail.com" /></label>
        <label for="field4"><span>Phone <span class="required">*</span></span><input type="text" maxlength="8" class="input-field" name="field4" value="" /></label>
        <label for="field5"><span>Car model <span class="required">*</span></span><input type="text" class="input-field" name="field5" value="" /></label>
        <label for="field6"><span>matriculation <span class="required">*</span></span><input type="text" class="input-field" name="field6" value="133 TN 1333" /></label>
        <label for="field7"><span>Subject</span><select name="field7" class="select-field">
        <option value="APV">APV</option>
        <option value="Showroom">Show room</option>
        <option value="Quickmaintenance">Quick maintenance</option>
        </select></label>
        </fieldset>
        <fieldset><legend>Message</legend>
        <label for="field6"><span>Message <span class="required">*</span></span><textarea name="field6" class="textarea-field"></textarea></label>
        <label class="btn" > <input  type="submit" value="Submit" />  <input type="reset" value="Cancel" /></label>
        </fieldset>
    </form>
    </div>
