<section class="one">
<app-award [title] ="'Toyota voted Carmaker of the Year'" 
[article]="'Accepting the award on behalf of Toyota (GB) were Mark Roden, Operations Director and Robin Giles, Customer Services Director. Roden said: 
“This achievement is testament to our incredible people working across all the different areas of service we provide under what we call the “One Toyota”
umbrella. It recognises the brilliant progress our teams are making not only at Toyota (GB) but also our manufacturing plant in Derby, Toyota Financial
Services, Toyota Insurance Services, Kinto and of course the hard work of our retailer networkJohn Kirwan, Editor of MotorTrader, said: “Toyota was the
clear winner this year for the strength of its range, the profitability of the franchise, its strong support for its dealer network in the pandemic and 
for innovation in aftersales.'" 
[picturePath]="'assets/awards/awards1.jpg'"
[title2] ="'Proace and Prius triumph in the 2022 DrivingElectric awards'" 
[article2]="'Toyota is ending 2021 on a high with further honours for its electrified models in the 2022 DrivingElectric awards. The all-electric Toyota Professional LCVs – Proace and Proace City Electric – have been named Best Medium and Best Small Electric Van respectively, while Prius, the world’s original hybrid electric model, has received the Best Used Hybrid Car award.

Proace Electric and Proace City Electric, were both launched this year. In both cases, their electric powertrain has been accommodated without compromising
their payload capacity – matching their diesel-powered equivalent models. Their practicality for business is also reflected in their official zero emission 
driving ranges – up to 205 miles for the medium duty Proace Electric and 168 miles for the compact Proace City Electric.  
Richard Ingram, Editor of DrivingElectric, said: ““The Toyota Proace Electric is one of the best commercial vehicles you can buy. Using tried-and-tested 
technology, it not only feels like a car to drive, it charges like one, too; 100kW is standard across the range. With a choice of batteries and a maximum 
volume of 6.1 cubic metres, it’s an incredibly talented electric van.”'" 
[picturePath2]="'assets/awards/awards2.jpg'"></app-award>
</section>
<section class="two">
<app-award [title] ="'Hilux leads success at the 4×4 Magazine awards'" 
[article]="'A bumper year of accolades for Toyota has yielded further success with honours reflecting the company’s off-road heritage. 4×4 Magazine 
has acknowledged Toyota’s history of building tough dependable off-road vehicles by awarding the brand Manufacturer of the Year. In addition, the 
Toyota Hilux is rewarded with the Pick-up of the Year honour and Best Off-Road titles. In other categories, RAV4 won Best Medium SUV, with Land 
Cruiser taking the Sustainability Award for the third year running.  Land Cruiser and Highlander were also highly commended in their respective
 classes for Off-Roaders and Large SUVs.Alan Kidd, 4×4 Magazine Editor, said: “We’ve always admired the Hilux, but we’ve also always hoped Toyota 
 would add their 2.8-litre engine to its range. Now they’ve done it, what a perfect example of making a good thing better.  The Hilux is outstanding 
 with this engine. But they’ve also improved its chassis and brought its multimedia up to date – while retaining everything we liked about it in the 
 first place. It’s still rock solid and robustly put together – and it’s still the pick-up truck you’d choose for an expedition across the desert.”
Commenting on the Manufacturer of the Year Award.'" 
[picturePath]="'assets/awards/awards3.jpg'"
[title2] ="'Toyota Hilux wins International Pick-up Award'" 
[article2]="'The Toyota Hilux has been announced as the winner of the 6th International Pick-up Award (2022/2023). This prestigious honour for medium-sized pick-up trucks was presented yesterday (17 November) during the Solutrans 2021 exhibition in Lyon, France.

“Every other year since 2009, the International Pick-up Award (IPUA) has been presented to the most efficient one tonne pick-up truck in business 
today,” said Jarlath Sweeney, Chairman of the International Van of the Year Award, which organises the competition. “As a multi-functional vehicle 
produced and sold globally, the product – and its marketplace – continues to evolve, with many brands setting high standards in performance, safety 
and driver and passenger comfort.”
The multi-award-winning Hilux received this latest accolade from an expert panel of members of the International Van of the Year jury, in recognition
 not only of its powerful and smooth powertrain, but also of its ever-increasing appeal in the world’s growing dual-usage work and leisure markets.'" 
[picturePath2]="'assets/awards/awards4.jpg'"></app-award> 
</section>