<section class="first">
  <app-slider></app-slider>
</section>

<section class="description">
   <div class="text">
    <pre>
      La nouvelle Agya est une belle citadine qui remplit
      parfaitement son rôle.Confortable et moderne, 
      la Toyota Agya est notamment dotée d'un système
      de démarrage mains libres,avec ordinateur de bord 
      qui accompagne les conducteurs et leur fournit les
      infos dont ils ont besoin.Le constructeur a fait 
      le choix de renouveler sa gamme phare de citadines
      en la dotant,pour sa version 2021, d'une puissance
      remarquable , le tout avec une faible consommation
      de carburant , et un faible impact environnemental:
      5,9 litres de carburant consommés sur 100 km, pour
      109 grammes de CO2 émis. La Toyota AGYA offre confort,
      économie, sécurité et performances à un prix de <span>{{prixman}}</span>
      pour la version boite manuelle et <span>{{prixauto}}</span> pour
      la version boite automatique.
    </pre>
   </div>
   <div class="QR">
    <img src="assets/QR/QR Code.png" alt="">
   </div>
</section>

<section class="arrays">

<div class="tab">
 <table class="table-dark">Performances Mécaniques</table>
 <table class="tablebig">

 <tr class="transparent">
   <td class="table-primary">Cylindrée ( Cm3 ):</td>
   <td class="table-secondary">1197</td>
 </tr>

 <tr class="colored">
   <td class="table-primary">Nombre de cylindre :</td>
   <td class="table-secondary">4 Cylindres</td>
 </tr>

 <tr class="transparent">
   <td class="table-primary">Puissance réelle (Ch. DIN/kw) :</td>
   <td class="table-secondary">87 ch din / 64 kw</td>
 </tr>

 <tr class="colored">
   <td class="table-primary">Puissance fiscale ( CV ) :</td>
   <td class="table-secondary">5</td>
 </tr>
 <tr class="transparent">
   <td class="table-primary">Transmission :</td>
   <td class="table-secondary">Manuel à 5 rapport+
      marche arrière</td>
 </tr>

 <tr class="colored">
   <td class="table-primary">Type de Carburant :</td>
   <td class="table-secondary">Essence</td>
 </tr>

 <tr class="transparent">
   <td class="table-primary">Distribution :</td>
   <td class="table-secondary">	Double arbre à cames en tête (VVT-i) à chaine</td>
 </tr>

</table>
</div>

<div class="tab">
   <table class="table-dark">Consommation</table>
   <table class="tablebig">
   <tr class="transparent">
     <td class="table-primary">Cycle urbain ( L / 100 Km )</td>
     <td class="table-secondary">5.8</td>
   </tr>
  
   <tr class="colored">
     <td class="table-primary">Cycle extra urbain ( L / 100 Km )</td>
     <td class="table-secondary">4.2</td>
   </tr>
  
   <tr class="transparent">
     <td class="table-primary">Cycle mixte ( L / 100 Km )</td>
     <td class="table-secondary">4.8</td>
   </tr>

   <tr class="colored">
     <td class="table-primary">Emission de CO2, cycle mixte (g/Km)</td>
     <td class="table-secondary">109</td>
   </tr>
</table>
</div>

<div class="tab">
   <table class="table-dark">Dimensions</table>
   <table class="tablebig">
   <tr class="transparent">
     <td class="table-primary">Longueur hors tout (mm)</td>
     <td class="table-secondary">3660</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Largeur hors tout(mm)</td>
     <td class="table-secondary">1600</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">Hauteur hors tout(mm)</td>
     <td class="table-secondary">1520</td>
   </tr>
  </table>
</div>

<div class="tab">
   <table class="table-dark">Equipements de Sécurité</table>
   <table class="tablebig">
   <tr class="transparent">
     <td class="table-primary">
      2 airbags frontaux</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Système antiblocage des roues ABS</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">Ceintures de sécurité pour tous les sièges</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Détecteur de recul avec signal sonore</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">2 appui-tête à l'avant et 3 à l'arrière</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Système de fixation Isofix</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">Distribution :</td>
     <td class="table-secondary">.</td>
   </tr>
  </table>
</div>

<div class="tab">
    
     <table class="table-dark">Equipements Interieurs</table>
     <table class="tablebig">
     <tr class="transparent">
       <td class="table-primary">Climatisation manuelle avec Affichage digital</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="colored">
       <td class="table-primary">Verrouillage centralisé à distance</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="transparent">
       <td class="table-primary">Vitres avant et arrière électriques</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="colored">
       <td class="table-primary">Direction assistée électrique</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="transparent">
       <td class="table-primary">Système Audio avec Bluetooth</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="colored">
       <td class="table-primary">Sellerie en tissu</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="transparent">
       <td class="table-primary">Ordinateur de bord</td>
       <td class="table-secondary">.</td>
     </tr>
     <tr class="colored">
      <td class="table-primary">Sièges arrières rabattables</td>
      <td class="table-secondary">.</td>
    </tr>
     </table>
</div>

<div class="tab">
  
   <table class="table-dark">Equipements Exterieurs</table>
   <table class="tablebig">
   <tr class="transparent">
     <td class="table-primary">Jantes</td>
     <td class="table-secondary">en Aluminium 14</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Verrouillage centralisé à distance</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">Vitres avant et arrière électriques</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Direction assistée électrique</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">Système Audio avec Bluetooth</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="colored">
     <td class="table-primary">Sellerie en tissu</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="transparent">
     <td class="table-primary">Ordinateur de bord</td>
     <td class="table-secondary">.</td>
   </tr>
   <tr class="colored">
    <td class="table-primary">Sièges arrières rabattables</td>
    <td class="table-secondary">.</td>
  </tr>
</table>
</div>
</section>

<section class="last">
  <div class="slider">
   <div class="slide-track">
   <div class="slide">
    <img src="assets/cars/1-2 agya/1.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/2.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/3.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/4.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/5.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/6.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/7.png" alt="" />
   </div>
   <div class="slide">
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/8.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/9.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/10.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/11.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/12.png" alt="" />
   </div>
   <div class="slide">
    <img src="assets/cars/1-2 agya/13.png" alt="" />
   </div>
  </div>
  </div>
</section>




  



