<div class="our-team">
    <div class="pic">
        <img src="{{picturePath}}" alt="">
    </div>
    <h3 class="title">{{title}}</h3>
    <span class="post">{{post}}</span>

    <!--social icon-->
    <div class="social">
        <div class="icon github">
            <a href="{{github}}" target="_blank" rel="noopener noreferrer" aria-label="github">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="icon gmail">
            <div class="tooltip">{{gmail}}</div>
                <span><i class="fab fa-google-plus"></i></span>
        </div>
        <div class="icon linkedin">
            <a href="{{LinkedIn}}" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    
</div>
