<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/cars">Our cars</a></li>
          <li><a routerLink="/about">About us</a></li>
          <li><a routerLink="/achivements">Achivements</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
         <li><a routerLink="/cars">Devis</a></li>
         <li><a routerLink="/home">Meeting</a></li>
         <li><a routerLink="/home">LogIn/LogOut</a></li>
         <li><a routerLink="/home">Maps and Infos</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a hint= "https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
          <a hint="https://www.instagram.com/toyota/?hl=en"><i class="fab fa-instagram"></i></a>
          <br>
          <a hint="https://www.linkedin.com/company/toyota-tunisie/mycompany/"><i class="fab fa-linkedin-in"></i></a>
          <a hint="https://www.facebook.com/MecArtTeboulba/"><i class="fab fa-facebook-f"></i></a>
          <br>
          <a hint="https://www.youtube.com/deconstructed"><i class="fab fa-youtube"></i></a>
          <a hint="https://www.tiktok.com/@toyota?lang=en"><i class="fab fa-tiktok"></i></a> 
        </div>
      </div>
      <div class="footer-col">
        <h4>Contact us</h4>
        <div class="content">
          <form action="#">
            <div class="email">
              <label class="text">Email *<br>
              <input  type="email" required></label>
            </div>
            <div class="msg">
              <label class="text">Message *<br>
              <textarea rows="2" cols="25" required></textarea></label>
            </div>
            <div>
              <button type="submit" class="btn">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
