
ul{
	list-style: none;
	padding-left: 0;
}
.footer{
	background-color: #0e0d0d;
}
.footer-col{
   width: 25%;
   padding: 5vh 3vw;
}
.footer-col h4{
	font-size: 110%;
	color: #8b7e7e;
	text-transform: capitalize;
	margin-bottom: 20%;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position:absolute;
	left: 0vw;
	bottom: -0.5vw;
	background-color: rgb(194, 25, 25);
	height: 0.3vh;
	box-sizing: border-box ;
	width: 25%;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 2vh;
}
.footer-col ul li a{
	font-size: 100%;
	text-transform:capitalize ;
	color: #8b7e7e;
	text-decoration: none;
	font-weight: 1%;
	display: block;
	transition: all 0.3s ease;
	
}
.footer-col ul li a:hover{
	color: rgb(146, 49, 49);
	padding-left: 7px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40%;
	width: 20%;
	background-color: rgb(48, 40, 40) ;
	margin:0 0.5VW 2VH 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%; 
	color: rgb(194, 25, 25);
	border-radius: 100%;
}
.footer-col .social-links a:hover{
	background-color: rgb(192, 35, 35);
	color: #000000;
}
input{
	width: 14.5VW;
	height: 2.3VW;
	border-radius: 0.5VW;
	color:rgb(255, 255, 255);
	background-color: #111010;
	border: 1px solid rgb(194, 25, 25);
  }
textarea {
	width: 14.5VW;
	height: 4VW;
	border-radius: 0.6VW;
	background-color:#111010;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(194, 25, 25);
  }

.email {
  color: #8b7e7e;
}
.msg {
  color: #8b7e7e;
}
.btn {
	color: rgb(194, 25, 25);
	border-radius: 1VW;
	background-color: rgb(48, 40, 40); 
    border: none;
	padding: 0.5VH 1VW;
}
.btn:hover{
	box-shadow: 0 0 0.5VW #646464;
  }






