<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Our cars</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Achivements</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">Devis</a></li>
          <li><a href="#">Meeting</a></li>
          <li><a href="#">LogIn/LogOut</a></li>
          <li><a href="#">Maps and Infos</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <br>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <br>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Contact us</h4>
        <div class="content">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input  type="email" required>
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea rows="2" cols="25" required></textarea>
            </div>
            <div>
              <button type="submit" class="btn">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
