
/* Add a black background color to the top navigation */
.topnav {
    background-color: #0e0d0d;
    overflow:hidden;
    width: 100%;
  .logos{
    .one{
      float: left;
      background-color: rgb(122, 8, 8);
    }
    .two img{
      background: none;
      float: right;
      height: 7vh;
      width: 4vw;
      margin-top: 1vh;
      margin-right: 1vw;
    }
  }
}
  /* Style the links inside the navigation bar */
  .topnav nav {
    padding-left: 18vw;
    margin-top: 3vh;
   a {
    font-family: 'Signika Negative', sans-serif;
    color: #8b7e7e;
    text-align: center;
    padding: 1vh 5vw;
    text-decoration: none ;
    font-size: 1.15rem;
  }
}
  .topnav nav a.active{
    color: rgb(194, 25, 25);
  }
  /* Change the color of links on hover */
  .topnav nav a:hover {
   color: rgb(146, 49, 49);
  }