<div class="topnav">
  <img src="assets/alpha.png" alt="">
  <nav>
    <a routerLink="/achivements" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Achivements</a>
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About us</a>
    <a routerLink="/cars" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Our cars</a>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </nav>
</div>