
/* Add a black background color to the top navigation */
.topnav {
    background-color: #0e0d0d;
    overflow:hidden;
    width: 100%;
  }

  .topnav img {
    float: left;
    width: 7%;
    height: 85px;
    background: none;
    padding-left: 18px;
    align-items: center;
  }

  
  /* Style the links inside the navigation bar */
  .topnav nav a {
    font-family: 'Signika Negative', sans-serif;
    float: right;
    color: #8b7e7e;
    text-align: center;
    padding: 20px 45px;
    padding-top: 30px;
    text-decoration: none ;
    font-size: 20px;
  }
  .topnav nav a.active{
    color: rgb(194, 25, 25);
  }
  
  /* Change the color of links on hover */
  .topnav nav a:hover {
   color: rgb(146, 49, 49);
  }