<div class="topnav">
  <div class="logos">
   <div class="one">
   <img src="assets/LOGO/toyota.webp" alt="">
  </div>
  <div class="two">
   <img src="assets/LOGO/alphanew.png" alt="">
  </div>
</div>
  <nav>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/cars" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Our cars</a>  
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About us</a>
    <a routerLink="/achivements" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Achivements</a>
    
  </nav>
</div>