<section class="allteam">
    <div class="aboutimg">
        <img src="assets/allteam.jpg" alt="">
    </div>
    <div class="message">
      <div class="cadre">
        <h3>Welcome To Our Team</h3>
        <p>Hi, we want to present our 
          amazing team for you, 
          we have the best members ever, 
          we're creative, compatible and
          helpful people, 
          it could be nice 
          to visiting us :)
        </p>
      </div>
    </div>
</section>
<section class="teams1">
    <!-- st member -->
    <app-stuff [title]="'Rihab Guedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>

   <!--2nd member-->
   <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
    
    <!--3rd member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
        
    <!--4th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>

    <!--5th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
</section>

<section class="teams2">
    <!--6th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
    
    <!--7th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
    
    <!--8th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>

    <!--9th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
</section>

<section class="teams3">
    <!--10th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>

    <!--11th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
    
    <!--12th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
</section>

<section class="teams4">
    <!--13th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
    
    <!--14th member-->
    <app-stuff [title]="'RihabGuedouar'" [post]="'student'" [picturePath]="'assets/team/img-3.jpg'" [github]="'https://github.com/RihabGuedouar'" [gmail]="'rihab.guedoir3@gmail.com'" [LinkedIn]="'https://www.linkedin.com/in/rihabguedouar999/'"></app-stuff>
</section>