.icon-bar{ 
 width: 50px;
 height: 5;
 background-color:rgb(0, 0, 0);
 float: right;
 position: fixed;
 right: 0;
 top: 5;

}
.icon-bar a{
    display: block;
    font-size: 25px;
    color:#8b7e7e;
    text-align: center;
    padding: 5px ;
    transition: all 0.3s ease;
}
.icon-bar a:hover{
    background-color: rgb(146, 49, 49);
}
.active{
    background-color: rgb(194, 25, 25);
}
.container{
    padding: 25px;
}
